# Display the current task list
crontab -l

# To edit
crontab -e

# To delete the current task list !!!!!!!!!!
crontab -r

# To restart the crond service
service crond restart

# To check the crond status
service crond status
